

body {
    background-image: url(../img/back.jpg);
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    background-size: cover;
    font-size: 24px;
    
    
    
}

.container {

    margin: auto;
    text-align: center;
    width: 100%;
}


#currentWord {

    letter-spacing: 20px;

}