

body {
    background-color: black;
    background-image: url(../img/back.jpg);
    height: 100vh;
    color: rgb(48, 202, 86);
    display: flex;
    background-size: cover;
    font-size: 24px;
}

h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.container {
    margin: auto;
    text-align: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.884);
    letter-spacing: 5px;
    padding: 40px;
    border-radius: 20px;
}


#currentWord {
    letter-spacing: 20px;
}

p {
    font-size: 30px;
    padding-bottom: 30px;
}

footer {
    font-size: 20px;
    text-align: center;
    border-top: 3px solid rgb(48, 202, 86);
    background-color: #000000;
    color:rgb(48, 202, 86);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 33px;
    padding: 5px;
  }

    #remainingGuesses {
      padding-top: 10px;
  }

  #currentWord {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .CW {
      padding-top: 10px;
  }

  .LG {
      padding-top: 10px;
      padding-bottom: 10px;
  }